#header {
  background-image: url(../images/header-bg.jpg);
  @extend %background-img;
  margin-top: 3.2rem;
  padding: 16rem 0;
  h1 {
    font-size: 4rem;
  }
  @include for-medium-devices {
    h1 {
      font-size: 2.5rem;
    }
  }
  @include for-small-devices {
    padding: 10rem 0;
    h1 {
      font-size: 2rem;
    }
  }
}
